* {
    font-family: monospace;
}

:root {
    font-size: 16px;
    color: white;
}

body {
    width: 15em;
    height: 18em;
    background-color: black;
}

h1 {
    font-size: 1em;
}

ul * {
    font-size: 1em;
    word-wrap: break-word;
}